{% extends 'base.html.twig' %}

{% block title %}Padawans{% endblock %}

{% block body %}
<style>
    @import url('https://fonts.cdnfonts.com/css/star-wars');

    #goBack { position: fixed; bottom: 2rem; left: 2rem; height: 5rem; }
    #formBtn { position: fixed; bottom: 2rem; right: 2rem; height: 5rem; }
    #goBack:hover, #formBtn:hover { transform: scale(1.1); }

    body { background-image: url("{{ asset('images/home_bg.jpg') }}"); font-family: 'Star Wars', sans-serif; color: white; }

    #title { text-align: center; font-size: 2.5rem; margin-top: 5rem; margin-bottom: 7rem; text-decoration: underline; color: yellow; }

    .grid-padawans { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 20fr)); text-align: center; }

    .padawan-box { position: relative; border: 3px solid white; background-color: black; border-radius: 10px; height: auto; width: 50%; margin: 0 auto; padding: 1.5rem; margin-bottom: 3rem; }

    p { margin: 0; }

    .padawan-name { margin-bottom: 1rem; color: yellow; font-size: 1.2rem; text-align: center; }

    .sabre-laser-list { font-size: 1rem; text-decoration: underline; margin-top: 1.5rem; margin-bottom: 1rem; }
    .other-font { font-family: sans-serif; text-transform: uppercase; font-weight: bold }
    
    .master { margin-top: 1.5rem; }

    .padawan-card-update { border-bottom: 3px solid white; border-left: 3px solid white; width: 25px; position: absolute; top: 0; right: 0; border-top-right-radius: 8px; }
    .padawan-card-update:hover { cursor: pointer; transform: scale(1.05); }
</style>


<div id="title">{{'Padawans list'|trans}}</div>


<div class="grid-padawans">
    {% for padawan in padawans %}

            <div class="padawan-box">

                {% if (is_granted('ROLE_ADMIN')) %}
                    <a href="{{ path('modif_padawan', {'id': padawan.id}) }}">
                        <img class="padawan-card-update" src="{{ asset('images/update.png') }}">
                    </a>
                {% endif %}

                <div class="padawan-name">{{ padawan.getPrenom }} {{ padawan.getNom }}</div>

                <div class="sabre-laser-list"><span class="other-font">{{'Lightsabers'|trans}} :</span></div>

                {% for sabre in padawan.getSabres %}
                    <p class="sabre-laser">
                        Sabre {{ sabre.getCouleur }}
                        {% if sabre.isBiLame %}
                            double
                        {% endif %}
                    </p>
                {% endfor %}

                <div class="master"><span class="other-font">{{'Master'|trans}} :</span> {{ padawan.getMaitre.getPrenom }} {{ padawan.getMaitre.getNom }}</div>

            </div>

    {% endfor %}
</div>


    <a href="{{ path("app_menu") }}"><img id="goBack" src="{{ asset('images/back.png') }}"></a>

    {% if (is_granted('ROLE_ADMIN')) %}
        <a href="{{ path("form_padawan") }}"><img id="formBtn" src="{{ asset('images/form.png') }}"></a>
    {% endif %}

{% endblock %}
