{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<style>
    @import url('https://fonts.cdnfonts.com/css/star-wars');

    #goBack { position: fixed; bottom: 2rem; left: 2rem; height: 5rem; }
    #goBack:hover { transform: scale(1.1); }

    body { background-image: url("{{ asset('images/mustafar.jpg') }}"); background-position: top; background-size: cover; font-family: 'Star Wars', sans-serif; color: white; }
</style>


    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        {# redirection sur le menu #}
        <input type="hidden" name="_target_path" value="/menu">

        <button type="submit">login</button>
    </form>

    <a href="{{ path("app_menu") }}"><img id="goBack" src="{{ asset('images/back.png') }}"></a>

{% endblock %}
