{% extends 'base.html.twig' %}

{% block title %}{{'Lightsabers'|trans}}{% endblock %}

{% block body %}
<style>
    @import url('https://fonts.cdnfonts.com/css/star-wars');

    #goBack { position: fixed; bottom: 2rem; left: 2rem; height: 5rem; }
    #goBack:hover { transform: scale(1.1); }

    body { background-image: url("{{ asset('images/home_bg.jpg') }}"); font-family: 'Star Wars', sans-serif; color: white; }

    #title { text-align: center; font-size: 2.5rem; margin-top: 5rem; margin-bottom: 7rem; text-decoration: underline; color: yellow; }

    .grid-sabres { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 20fr)); text-align: center; }

    .sabre-box { border: 3px solid white; background-color: black; border-radius: 10px; height: auto; width: 50%; margin: 0 auto; padding: 1.5rem; margin-bottom: 3rem; }

    p { margin: 0; }

    .sabre-laser { margin-bottom: 1rem; color: yellow; font-size: 1.2rem; text-align: center; }
    
    .proprio { margin-top: 1.5rem; }
    .other-font { font-family: sans-serif; text-transform: uppercase; font-weight: bold }
</style>


<div id="title">{{'Armory lightsabers'|trans}}</div>


<div class="grid-sabres">
    {% for sabre in sabres %}

            <div class="sabre-box">

                <div class="sabre-laser">
                        Sabre {{sabre.getCouleur }}
                        {% if sabre.isBiLame %}
                            double
                        {% endif %}
                </div>

                <div class="proprio"><span class="other-font">{{'Owner'|trans}} :</span> {{ sabre.getProprietaire.getPrenom }} {{ sabre.getProprietaire.getNom }}</div>

            </div>

    {% endfor %}
</div>


    <a href="{{ path("app_menu") }}"><img id="goBack" src="{{ asset('images/back.png') }}"></a>

{% endblock %}
