{% extends 'base.html.twig' %}

{% block title %}Jedi Project - Dashboard{% endblock %}

{% block body %}

<style>
    @import url('https://fonts.cdnfonts.com/css/star-wars');

    #goBack { position: fixed; bottom: 2rem; left: 2rem; height: 5rem; }
    #goBack:hover { transform: scale(1.1); }

    #dashboard { display: grid; grid-template-columns: 20fr 20fr 20fr 20fr 20fr; text-align: center; position: absolute; height: 100%; top: 0; left: 0; width: 100%; font-family: 'Star Wars', sans-serif; color: white; background-color: black; }
    #dashboard h1 { margin-top: 10rem; padding: 0.5rem; font-size: 1.5rem; }
    #dashboard div { opacity: 0.5; position: absolute; top: 0; height: 100%; width: 20%; }
    #dashboard div:hover { opacity: 1; }

    a { text-decoration: none; color: white; }
    
    #dashboard-jedis { background-image: url("{{ asset('images/anakin.webp') }}"); background-position: -150px top; }
    #dashboard-sabres { background-image: url("{{ asset('images/sabre.jpg') }}"); background-position: center; background-size: cover; }
    #dashboard-padawans { background-image: url("{{ asset('images/ahsoka.webp') }}"); background-position: center; background-size: cover; }
    #dashboard-legions { background-image: url("{{ asset('images/legion.webp') }}"); background-position: 0; background-size: cover; }
    #dashboard-guerres { background-image: url("{{ asset('images/christophsis.jpg') }}"); background-position: center; background-size: cover; }
</style>

<div id="dashboard">

    <a href="{{ path("app_jedi") }}">
        <div id="dashboard-jedis">
            <h1>j e d i s</h1>
        </div>
    </a>

    <a href="{{ path("app_sabre_laser") }}">
        <div id="dashboard-sabres">
            <h1>s a b r e s</h1>
        </div>
    </a>

    <a href="{{ path("app_padawan") }}">
        <div id="dashboard-padawans">
            <h1>p a d a w a n s</h1>
        </div>
    </a>

    <a href="{{ path("app_legion_clone") }}">
        <div id="dashboard-legions">
            <h1>l e g i o n s</h1>
        </div>
    </a>

    <a href="{{ path("app_guerre") }}">
        <div id="dashboard-guerres">
            <h1>g u e r r e s</h1>
        </div>
    </a>

</div>


<a href="{{ path("app_home") }}"><img id="goBack" src="{{ asset('images/back.png') }}"></a>

{% endblock %}
